

rect{
    fill: #34a852;
    stroke: #71c287;
    stroke-width: 2px;
}

path{
    fill: #34a852;
    stroke: #71c287;
    stroke-width: 2px;
}

circle{
    fill:transparent;
    stroke: #71c287;
    stroke-width: 2px;
}