<div class="terreno">
    <span class="cancha"></span>
    <span class="area__chica local"></span>
    <span class="area__grande local"></span>
    <span class="cancha__medio"></span>
    <span class="punto__medio"></span>
    <span class="linea__central"></span>
    <span class="area__chica visita"></span>
    <span class="area__grande visita"></span>
    <div class="arquero">
        <div class="jugador pos__1" data-message="jugador 1">1
            <span class="player__data">hola mundo</span>
        </div>
    </div>
    
    <div class="defensores">
        <div class="jugador pos__2" data-message="jugador 2">2
            <span class="player__data">hola mundo</span>
        </div>
        <div class="jugador pos__3" data-message="jugador 3">3
            <span class="player__data">hola mundo</span>
        </div>
        <div class="jugador pos__4" data-message="jugador 4">4
            <span class="player__data">hola mundo</span>
        </div>
        <div class="jugador pos__5" data-message="jugador 5">5
            <span class="player__data">hola mundo</span>
        </div>
        
    </div>
    <div class="mediocampo">
        <div class="jugador pos__6" data-message="jugador 6">6
            <span class="player__data">hola mundo</span>
        </div>
        <div class="jugador pos__7" data-message="jugador 7">7
            <span class="player__data">hola mundo</span>
        </div>
        <div class="jugador pos__8" data-message="jugador 8">8
            <span class="player__data">hola mundo</span>
        </div>
    </div>
    <div class="delanteros">
        <div class="jugador pos__10" data-message="jugador 10">10
            <span class="player__data">hola mundo</span>
        </div>
        <div class="jugador pos__9" data-message="jugador 9">9
            <span class="player__data">hola mundo</span>
        </div>
        <div class="jugador pos__11" data-message="jugador 11">11
            <span class="player__data">hola mundo</span>
        </div>
    </div>
</div>
