
<div *ngIf="posiciones['Goalkeeper'].length" class="cancha">
    <span class="area__chica"></span>
    <div class="arquero">
        <div class="jugador pos__1">{{posiciones['Goalkeeper'][0].name}}</div>
    </div>
    
    <div class="defensores">
        <div class="jugador pos__2">{{posiciones['Defence'][0].name}}</div>
        <div class="jugador pos__3">{{posiciones['Defence'][1].name}}</div>
        <div class="jugador pos__4">{{posiciones['Defence'][2].name}}</div>
        <div class="jugador pos__5">{{posiciones['Defence'][3].name}}</div>
    </div>
    <div class="mediocampo">
        <div class="jugador pos__6">{{posiciones['Midfield'][0].name}}</div>
        <div class="jugador pos__7">{{posiciones['Midfield'][1].name}}</div>
        <div class="jugador pos__8">{{posiciones['Midfield'][2].name}}</div>
        <div class="jugador pos__10">{{posiciones['Midfield'][3].name}}</div>
    </div>
    <div class="delanteros">
        <div class="jugador pos__9">{{posiciones['Offence'][0].name}}</div>
        <div class="jugador pos__11">{{posiciones['Offence'][1].name}}</div>
    </div>
</div>
