<app-competition-banner (screen)="selectedScreen($event)" [competition]="competition"></app-competition-banner>
<span [ngSwitch]="screen" class="competition__screen"> 

<div *ngSwitchCase="'teams'" class="competition__teams">
    <app-team-card *ngFor="let team of teams " [teamData]="team"></app-team-card>
</div>

<div *ngSwitchCase="'matches'" class="competition__matches">
    <app-match-card *ngFor="let match of matchs " [match]="match"></app-match-card>
</div>

<div *ngSwitchCase="'standings'" class="competition__standings" >
    <app-standings [standing]="standings"></app-standings>
</div>


<p *ngSwitchDefault>

</p>
</span>

