    <div class="navbar-top">
        <div class="header__logo">
            <img src="../../../../assets/Futbol App-icon.svg" routerLink="/">
        </div>
    </div>
    <div class="navbar__search input-group">
        <input type="text" class="form-control" placeholder="Search a competition...">
        <button class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
    </div>
    <div class="navbar-bottom">
        <div class="dropdown">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-items" routerLink="/"><span>Home</span></li>
                <li class="dropdown-menu-items" (click)="setMenu(true)"><span>Leagues</span></li>
                <li class="dropdown-menu-items" routerLink="/about-us"><span>About us</span></li>
            </ul>
        </div>
        <app-auth></app-auth>
    </div>


