

<!--export interface Team {
    area?:                Area;
    id?:                  number;
    name?:                string;
    shortName?:           string;
    tla?:                 string;
    crest?:               string;
    address?:             string;
    website?:             string;
    founded?:             number | null;
    clubColors?:          string;
    venue?:               string;
    runningCompetitions?: Competition[];
    coach?:               Coach;
    squad?:               Squad[];
    staff?:               Coach[];
    lastUpdated?:         Date;
}
-->