@use '../../../styles/utils/tools' as tools;

$backgroundColor: tools.colors("white");

:host{
    width: 100%;
    position: absolute;
    z-index: 1;
    
}
.dropdown{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
    min-height: 150px;
    padding: 5px 30px;
    background-color: white;
    box-shadow: 0px 16px 33px -18px rgba(0,0,0,1);
    -webkit-animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    
}


//---------ANIMACIONES----------

 @-webkit-keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-top {
    0% {
      -webkit-transform: translateY(-1000px);
              transform: translateY(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  