<section id="introduction">
    <h2>¡Welcome to Fútbol App!</h2>
    <p>
        Fútbol App is a web platform with responsive design, aimed at simplifying and enhancing accessibility for passionate football fans. Our mission is to provide a unique and enriching experience for all those who share a passion for this exciting sport.      
        Aware of the vast community of football followers worldwide, Fútbol App aims to be the bridge between fans and the information that matters most to them. Our platform offers extensive and up-to-date coverage of leagues, tournaments, and teams both nationally and internationally.         
        Our platform stands out for its easy navigation and intuitive design, allowing our users to access relevant content about their favorite teams in a simple and fast way.              
        At Fútbol App, the satisfaction of our users is our top priority. That's why our support team is always ready to assist and address any questions or inquiries our users may have, ensuring a positive and enriching experience for everyone.
    </p>
</section>
<hr>
<section id="contact">
    <h2>Contact and Support</h2>
    <p>At Football App, we take pride in providing exceptional contact and support services for our users. We value your experience and are here to assist you at all times.

        If you have any questions, concerns, or simply want to share your feedback about our platform, feel free to reach out to our highly trained support team. We are available through various communication channels, including email and social media.
        
        Don't hesitate to contact us anytime. We are here to help you fully enjoy your passion for football and ensure you have access to all the information and support you need. Thank you for being part of our football community and for trusting Football App!</p>
    <p>For any inquiries or technical support, you can reach us via:</p>
    <ul>
        <li>Phone: 123-456-7890</li>
        <li>Email: fubolappmaintenance@gmail.com</li>
        <li><a href="https://www.instagram.com/futbol__app/">Instagram</a></li>
        <li><a href="https://twitter.com/futbol__app">Twitter</a></li>
    </ul>
</section>