<nav class="navbar">
    <div class="navbar__links ">
            <a routerLink="/">Home</a>
            <a (mouseenter)="setMenu(true)" (click)="setMenu(false)">Competitions</a>
            <a routerLink="/competitions">Teams</a>
            <a href="#">Matches</a>
    </div>
    <div class="navbar__search">
        <input type="text" class="form-control" placeholder="Search a competition...">
        <button class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
    </div>
    <div class="navbar__auth">
        <div class="verticalLine"></div>
        <button class="btn btn-outline-secondary" >SIGN IN</button>
        <button class="btn btn-primary">SIGN UP</button>
    </div>
</nav>