@use '../../../styles/utils/tools' as tools;

$backgroundColor: tools.colors("white");

:host{
    height: 100%;
    flex-grow: 1;
}

.navbar{
    background-color: $backgroundColor;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.navbar__links{
    background-color: $backgroundColor;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 30px;
    margin-left: 20px;

    a{
        display:flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color:#6b6b6e;
    } 
    a:hover{
        border-bottom: 1px solid brown;
    }
    a:focus{
        border-bottom: 1px solid brown;
        background-color:  #f8f9fa;
    }

}

.navbar__search{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    height: 100%;
    width: 400px;
}

.verticalLine{
    border: none;
    border-left: 3px solid #e1e0e7;
    height: 70%;
    border-radius: 3px;
}
