@use '../../../styles/utils/tools' as tools;

$backgroundColor: tools.colors("white");

:host{
    background-color: $backgroundColor;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navbar__top{
    background-color: $backgroundColor;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width:auto;
    margin: 0 10px;
    cursor: pointer;
}
.navbar__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.logo{
    min-width: auto;
    min-height: auto;
    width: 140px;
    height: 100%;
}

.navbar__links{
    background-color: $backgroundColor;
    display:flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    gap: 30px;
    margin-left: 20px;
}

.navbar__search{
    height: 30px;
    width: 400px;
}

.verticalLine{
    border: none;
    border-left: 3px solid #e1e0e7;
    height: 70%;
    border-radius: 3px;
}

.dropdown-menu{
    padding-left: 5px;
}
.dropdown-menu-items{
    cursor: pointer;
}

.dropdown-menu-items:hover{
    background-color: rgba(231, 225, 225, 0.336);
}

.finded-teams{
    position: absolute;
    top:150%;
    background-color: white;
    z-index: 10;
    width: 100%;
}

.spinner{
    position: absolute;
    left:50%;
}

@media screen and (max-width:660px) {
    .logo{
        height: 40px;
    }
    :host{
        flex-direction: column;
    }
    .navbar__top{
        width: 100%;
        padding-left: 10px;
    }
}


@media screen and (max-width: 850px) {
    :host{
        justify-content: space-evenly;
    }
    .navbar__search{
        flex-grow: 1;
        padding: 0 10px;
    }
    app-auth{
        padding: 0 10px;
    }
    
}


