<nav class="navbar">
    <div class="navbar__links ">
            <a routerLink="/">Home</a>
            <a (click)="setMenu(true)">Leagues</a>
            <a routerLink="/team">Team</a>
            <a href="#">Matches</a>
    </div>
    <div class="navbar__search">
        <input type="text" class="form-control" placeholder="Search a competition...">
        <button class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
    </div>
    <div class="navbar__auth">
        <div class="verticalLine"></div>
        <button class="btn btn-outline-secondary"  routerLink="/sign-in">SIGN IN</button>
        <button class="btn btn-primary">SIGN UP</button>
    </div>
</nav>