<div class="navbar__top">
    <img class="logo" src="../../../../assets/Futbol App-icon.svg" routerLink="/">
    <app-auth *ngIf="isSmall"></app-auth>
</div>
<div class="navbar__bottom">
    <ng-container *ngIf="isLarge; else elseTemplate">
        <div class="navbar__links ">
            <app-button-link title="Home" type="primary" routerLink="/"></app-button-link>
            <app-button-link title="Leagues" (click)="setMenu(true)" type="primary"></app-button-link>
            <app-button-link title="About Us" routerLink="/about-us" type="primary"></app-button-link>
            <app-button-link *ngIf="(isLogged$ |async)" title="Wishing list" routerLink="/favorites" type="primary"></app-button-link>
        </div>
        <form class="navbar__search input-group" [formGroup]="searchField" (ngSubmit)="onSearch()">
            <input type="text" class="form-control" placeholder="Search..." formControlName="search">
            <button class="btn btn-outline-primary" (click)="onSearch()"><i class="bi bi-search"></i></button>
            <app-search *ngIf="openSearch" [teams]="findedTeams" class="finded-teams" (openMenu)="openSearchMenu($event)"></app-search>
        </form>
    </ng-container>
    <ng-template #elseTemplate>
            <form class="navbar__search input-group" [formGroup]="searchField" (ngSubmit)="onSearch()">
            <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-list"></i>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-menu-items" routerLink="/"><span>Home</span></li>
                <li class="dropdown-menu-items" (click)="setMenu(true)"><span>Leagues</span></li>
                <li class="dropdown-menu-items" routerLink="/about-us"><span>About us</span></li>
                <li class="dropdown-menu-items" *ngIf="(isLogged$ |async)" routerLink="/favorites"><span>Wishing list</span></li>
            </ul>
            <input type="text" class="form-control" placeholder="Search..." formControlName="search">
            <button class="btn btn-outline-primary" (click)="onSearch()"><i class="bi bi-search"></i></button>
            <app-search *ngIf="openSearch" [teams]="findedTeams" class="finded-teams" (openMenu)="openSearchMenu($event)"></app-search>
        </form>
    </ng-template>
    <div *ngIf="!isSmall" class="verticalLine"></div>
    <app-auth *ngIf="!isSmall"></app-auth>
 </div>