<form [formGroup]="restorePasswordForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input class="ng-valid ng-invalid form-control" type="password" id="password" formControlName="password">
        <div *ngIf="!restorePasswordForm.get('password')?.valid" id="emailHelp" class="form-text">The password minimum length must be eight characters</div>
    </div>
    <div class="mb-3">
        <label for="confirmPassword" class="form-label">Confirm Password</label>
        <input class="ng-valid ng-invalid form-control" type="password" id="confirmPassword" formControlName="password">
        <div *ngIf="!restorePasswordForm.get('confirm')?.valid" id="passwordHelp" class="form-text">The password minimum length must be eight characters</div>
    </div>
    <button [disabled]="!restorePasswordForm.valid" type="submit" class="btn btn-outline-primary">change password</button>

