:host{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}


form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 400px;
    button{
        align-self: center;
    }
    input{
        width: 300px;
    }
}

.spinner{
    position: absolute;
    top:120px;
}

@media screen and (max-width:660px) {
    form{
        width: 350px;
    }
}