<app-spinner  *ngIf="isLoading" class="spinner"></app-spinner>
<form [formGroup]="formSession" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input class="ng-valid ng-invalid form-control" type="email" id="email" formControlName="email">
        <div *ngIf="!formSession.get('email')?.valid" id="emailHelp" class="form-text">The email must be alguien@email.com</div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input class="ng-valid ng-invalid form-control" type="password" id="password" formControlName="password">
        <div *ngIf="!formSession.get('password')?.valid" id="passwordHelp" class="form-text">The password minimum length must be eight characters</div>
    </div>
    <a routerLink="/change-password">Forgot password?</a>
    <button [disabled]="!formSession.valid" type="submit" class="btn btn-outline-primary">Sign in</button>
    <span> Don't have an account? <a routerLink="/sign-up">Sign up</a></span>
</form>

