<div class="competition__banner">
    <ng-container *ngIf="competition; else elseTemplate">
        <img src={{competition.logo}} class="slide-in-left">
        <h2>{{competition.name}}</h2>
        <div *ngIf="competition.currentSeason" class="competition__season">
        <pre>start date: {{competition.currentSeason.startDate}}</pre>
        <pre>end date: {{competition.currentSeason.endDate}}</pre>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <app-spinner></app-spinner>
    </ng-template>
</div>
