<div class="competition__banner">
    <ng-container *ngIf="competition; else elseTemplate">
        <div class="competition__banner__top">
            <img src={{competition.logo}} class="slide-in-left">
            <h2>{{competition.name}}</h2>
            <div *ngIf="competition.currentSeason" class="competition__season">
            <pre>start date: {{competition.currentSeason.startDate}}</pre>
            <pre>end date: {{competition.currentSeason.endDate}}</pre>
            </div>
        </div>
        <div class="competition__banner__bottom-bar">
            <app-button-link type="secondary" (click)="selectCompetitionScreen('teams')">Teams</app-button-link>
            <app-button-link type="secondary" (click)="selectCompetitionScreen('standings')">Standings</app-button-link>
            <app-button-link type="secondary" (click)="selectCompetitionScreen('matches')">Matches</app-button-link>
            
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <app-spinner></app-spinner>
    </ng-template>
</div>
