<div class="competition__banner">
    <ng-container *ngIf="competition; else elseTemplate">
        <div class="competition__banner__top">
            <img src={{competition.logo}} class="slide-in-left">
            <h2>{{competition.name}}</h2>
            <div *ngIf="competition.currentSeason" class="competition__season">
            <pre>SEASON {{currentSeason}}</pre>
            </div>
        </div>
        <div class="competition__banner__bottom-navbar">
            <app-button-link type="secondary" (click)="selectCompetitionScreen('teams')">Teams</app-button-link>
            <app-button-link type="secondary" (click)="selectCompetitionScreen('standings')">Standings</app-button-link>
            <app-button-link type="secondary" (click)="selectCompetitionScreen('matches')">Matches</app-button-link>
            <div class="competition__banner__season">
                <p>Season</p>
                <app-dropdown [menuItems]="seasons" (item)="getCompetition($event)"></app-dropdown>
            </div>    
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <app-spinner></app-spinner>
    </ng-template>
</div>
