:host{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.navbar__auth{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:10px;
    height: 100%;
    margin-right: 20px;
}

.dropdown{
    display:flex;
    justify-content: center;
    align-items: center;
}

.dropdown-menu-items{
    cursor: pointer;
}

.dropdown-menu-items:hover{
    background-color: rgba(231, 225, 225, 0.336);
}
