
<div class="home__banner">
    <h4>¡Welcome to Futbol App!, The right place to keep up with your favorites leagues and teams</h4>
</div>
<h5>Popular competitions</h5>
    <section class="home_competitions"> 
        <app-competition-card *ngFor="let item of (competitions$ |async | slice:0:4)" [cardData]="item" (click)="navigateTo(item.code)"></app-competition-card>
    </section>
<h5>Most wanted teams</h5>
    <section class="home_teams">
        <app-team-card *ngFor="let item of (teams$ | async | slice:0.4)" [teamData]="item"></app-team-card>
    </section>
    <button routerLink="restore-password/asdfdasjwt">restore</button>
