@use '../../../styles/utils/tools' as tools;

$backgroundColor: tools.colors("white");

:host{
    position: relative;
    width: 100%;
}
.header{
    background-color: $backgroundColor;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #e1e0e7;
}

.header__logo{
    background-color: $backgroundColor;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:auto;
    margin: 0 10px;
    cursor: pointer;
    img{
        min-width: auto;
        min-height: auto;
        width: 140px;
        height: 100%;
    }
}

@media screen and (max-width:600px) {
    .header{
        flex-direction: column;
    }
}