@use '../../../styles/utils/tools' as tools;

$backgroundColor: tools.colors("white");

:host{
    position: relative;
    width: 100%;
}
.header {
    background-color: $backgroundColor;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #e1e0e7;
}
.navbar-switch{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}


@media screen and (max-width:600px) {
    .header{
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 125px;
        padding-top: 5px;
    }
}