@use '../../../styles/utils/tools' as tools;

$backgroundColor: tools.colors("white");

:host{
    width: 100%;
    flex-grow:1;
}

.main__content{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


