:host{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 100px;
  width: 100%;
  height: 150px;
  gap:20px;
}

.logo{
  width: auto;
  height: auto;
  max-width: 90%;
  max-height: 90%;
  -webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.logo:hover{
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
     animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both; 
}


.team{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  
  h4{
    color: #808080c4;
    font-weight: 700;
    font-size: 1.2rem;
  }

  h2{
    font-size: 2.5rem;
    font-weight: 700;
  }
}

@media screen and (max-width:660px) {
  :host{
    padding: 0 5px;
  }
  .logo{
    width: auto;
    height: auto;
    max-width:70%;
    max-height: 70%;
 }
 .team{
  h4{
    color: #808080c4;
    font-weight: 700;
    font-size: 0.8rem;
  }

  h2{
    font-size: 1rem;
    font-weight: 700;
  }
}
}


@-webkit-keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-out-center {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}


@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
}
